<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center"> סטטיסטיקות על קובץ</h1>

    <form action="/create-report/" method="post" align="center">
        <label for="srcname"></label> <br>
        <input type="text" id="srcname" name="srcname"> <br>
        <label for="destname"></label> <br>
        <input type="text" id="destname" name="destname"> <br>
       <button type="submit" >create report</button>
    </form>
</body>
</html>