<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center" style="color:green"> Analysis File</h1>

    <form action="/create-report/" method="post" align="center">
        <label for="srcname" style="color:green">Enter file's path for analysis(require)</label> <br><br>
        <input type="text" id="srcname" name="srcname"> <br><br>
        <label for="destname" style="color:green">Do you want get The report in a file? Enter destination file: </label> <br><br>
        <input type="text" id="destname" name="destname"> <br><br>
       <button type="submit" >create report</button>
    </form>
</body>
</html>